.searchBar {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    margin: auto;   
}

.input {
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

button {
    height: 100%;
    font-size: 20px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}